Here is a description of the data frame dt1 and number of lines

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      68 non-null     datetime64[ns]
 1   Set_Num_Drumline          68 non-null     object
 2   Num_Hooks_Drumline        68 non-null     object
 3   Set_Start_Time            68 non-null     datetime64[ns]
 4   Season                    68 non-null     category
 5   SITENAME                  68 non-null     object
 6   Latitude_DD               68 non-null     object
 7   Longitude_DD              68 non-null     object
 8   River_KMs                 68 non-null     float64
 9   Depth                     49 non-null     float64
 10  WaterTemp                 65 non-null     float64
 11  Salinity                  64 non-null     float64
 12  DO                        55 non-null     float64
 13  DO__percent_              55 non-null     float64
 14  Species                   68 non-null     category
 15  Tag_Num                   68 non-null     object
 16  Sex                       60 non-null     category
 17  Mature                    29 non-null     category
 18  PCL                       58 non-null     float64
 19  FL                        58 non-null     float64
 20  TL                        63 non-null     float64
 21  TL_Flag                   4 non-null      category
 22  STL                       3 non-null      float64
 23  Mass__paren_kg_paren_     6 non-null      float64
 24  Run_LCn_M                 15 non-null     category
 25  M__percent_N              19 non-null     float64
 26  M__percent_C              19 non-null     float64
 27  Muscle_Delta15N           19 non-null     float64
 28  Muscle_Delta13C_          19 non-null     float64
 29  Run_LCn_WB                16 non-null     category
 30  WB__percent_N             16 non-null     float64
 31  WB__percent_C             16 non-null     float64
 32  Whole_Blood_Delta15N      16 non-null     float64
 33  Whole_Blood_Delta13C      16 non-null     float64
 34  Run_LCn_Plasma            16 non-null     category
 35  Plasma__percent_N         16 non-null     float64
 36  Plasma__percent_C         16 non-null     float64
 37  Plasma_Delta15N           16 non-null     float64
 38  Plasma_Delta13C           16 non-null     float64
 39  Run_LCn_RBC               2 non-null      category
 40  RBC__percent_N            2 non-null      float64
 41  RBC___percent_C           2 non-null      float64
 42  Red_Blood_Cells_Delta15N  2 non-null      float64
 43  Red_Blood_Cells_Delta13C  2 non-null      float64
 44  Run_LCn_Fin               5 non-null      category
 45  F__percent_N              5 non-null      float64
 46  F__percent_C              5 non-null      float64
 47  Fin_Delta15N              5 non-null      float64
 48  Fin_Delta13C              5 non-null      float64
 49  Notes                     2 non-null      category
 50  Date_datetime             68 non-null     datetime64[ns]
 51  Set_Start_Time_datetime   68 non-null     datetime64[ns]
dtypes: category(11), datetime64[ns](4), float64(31), object(6)
memory usage: 23.9+ KB
None
--------------------


Here is a summary of numerical variables in the data frame dt1

       River_KMs      Depth  WaterTemp   Salinity         DO  DO__percent_  \
count  68.000000  49.000000  65.000000  64.000000  55.000000     55.000000
mean    0.963235   9.442857  26.950769  30.290625   8.014545     56.734545
std     2.337744   2.411258   3.668494   4.844428  16.274422     27.679282
min     0.000000   0.000000  21.000000  18.400000   0.200000      0.400000
25%     0.000000   8.200000  23.300000  27.900000   3.850000     50.550000
50%     0.000000   9.500000  28.700000  30.600000   4.300000     63.500000
75%     0.700000  10.700000  29.700000  32.900000   5.050000     73.400000
max     9.000000  13.400000  32.000000  38.900000  79.100000    104.500000

              PCL        FL          TL         STL  ...  Plasma_Delta15N  \
count   58.000000   58.0000   63.000000    3.000000  ...        16.000000
mean   127.879310  143.0000  171.976190  203.333333  ...        11.696250
std     28.227819   30.8289   43.294046   10.692677  ...         0.707143
min     68.000000   76.0000    1.500000  194.000000  ...        10.470000
25%    115.000000  130.5000  157.000000  197.500000  ...        11.325000
50%    126.500000  142.0000  173.000000  201.000000  ...        11.685000
75%    154.000000  170.7500  206.000000  208.000000  ...        12.040000
max    172.000000  191.0000  249.000000  215.000000  ...        13.370000

       Plasma_Delta13C  RBC__percent_N  RBC___percent_C  \
count        16.000000        2.000000         2.000000
mean        -18.335000       13.925000        44.715000
std           1.774358        0.049497         2.425376
min         -22.820000       13.890000        43.000000
25%         -19.007500       13.907500        43.857500
50%         -18.470000       13.925000        44.715000
75%         -17.822500       13.942500        45.572500
max         -14.890000       13.960000        46.430000

       Red_Blood_Cells_Delta15N  Red_Blood_Cells_Delta13C  F__percent_N  \
count                  2.000000                  2.000000      5.000000
mean                  12.780000                -15.995000     12.812000
std                    0.212132                  1.605132      2.408728
min                   12.630000                -17.130000      9.680000
25%                   12.705000                -16.562500     11.290000
50%                   12.780000                -15.995000     12.760000
75%                   12.855000                -15.427500     15.110000
max                   12.930000                -14.860000     15.220000

       F__percent_C  Fin_Delta15N  Fin_Delta13C
count      5.000000      5.000000      5.000000
mean      31.922000     11.532000    -13.178000
std        5.693353      0.258205      2.084783
min       24.650000     11.110000    -15.990000
25%       29.100000     11.540000    -14.200000
50%       30.500000     11.540000    -13.040000
75%       37.190000     11.680000    -12.220000
max       38.170000     11.790000    -10.440000

[8 rows x 31 columns]
--------------------


The analyses below are basic descriptions of the variables. After testing, they should be replaced.

count                      68
unique                     22
top       2009-11-19 00:00:00
freq                       10
first     2009-05-13 00:00:00
last      2011-05-14 00:00:00
Name: Date, dtype: object
--------------------


count                                                    68
unique                                                    1
top       0      1\n1      1\n2      1\n3      1\n4     ...
freq                                                     68
Name: Set_Num_Drumline, dtype: object
--------------------


count                                                    68
unique                                                    1
top       0     1\n1     2\n2     3\n3     8\n4     1\n ...
freq                                                     68
Name: Num_Hooks_Drumline, dtype: object
--------------------


count                      68
unique                     68
top       2020-10-14 13:51:00
freq                        1
first     2020-10-14 08:37:00
last      2020-10-14 18:41:00
Name: Set_Start_Time, dtype: object
--------------------


count      68
unique      3
top       Dry
freq       36
Name: Season, dtype: object
--------------------


count                                                    68
unique                                                    1
top       0      PDL\n1      PDL\n2      PDL\n3      PDL...
freq                                                     68
Name: SITENAME, dtype: object
--------------------


count                                                    68
unique                                                    1
top       0     25.356\n1     25.355\n2     25.354\n3   ...
freq                                                     68
Name: Latitude_DD, dtype: object
--------------------


count                                                    68
unique                                                    1
top       0    -81.139\n1    -81.141\n2    -81.144\n3   ...
freq                                                     68
Name: Longitude_DD, dtype: object
--------------------


count    68.000000
mean      0.963235
std       2.337744
min       0.000000
25%       0.000000
50%       0.000000
75%       0.700000
max       9.000000
Name: River_KMs, dtype: float64
--------------------


count    49.000000
mean      9.442857
std       2.411258
min       0.000000
25%       8.200000
50%       9.500000
75%      10.700000
max      13.400000
Name: Depth, dtype: float64
--------------------


count    65.000000
mean     26.950769
std       3.668494
min      21.000000
25%      23.300000
50%      28.700000
75%      29.700000
max      32.000000
Name: WaterTemp, dtype: float64
--------------------


count    64.000000
mean     30.290625
std       4.844428
min      18.400000
25%      27.900000
50%      30.600000
75%      32.900000
max      38.900000
Name: Salinity, dtype: float64
--------------------


count    55.000000
mean      8.014545
std      16.274422
min       0.200000
25%       3.850000
50%       4.300000
75%       5.050000
max      79.100000
Name: DO, dtype: float64
--------------------


count     55.000000
mean      56.734545
std       27.679282
min        0.400000
25%       50.550000
50%       63.500000
75%       73.400000
max      104.500000
Name: DO__percent_, dtype: float64
--------------------


count       68
unique       7
top       Bull
freq        29
Name: Species, dtype: object
--------------------


count                                                    68
unique                                                    1
top       0                J10033\n1                   N...
freq                                                     68
Name: Tag_Num, dtype: object
--------------------


count     60
unique     2
top        F
freq      31
Name: Sex, dtype: object
--------------------


count     29
unique     2
top        N
freq      19
Name: Mature, dtype: object
--------------------


count     58.000000
mean     127.879310
std       28.227819
min       68.000000
25%      115.000000
50%      126.500000
75%      154.000000
max      172.000000
Name: PCL, dtype: float64
--------------------


count     58.0000
mean     143.0000
std       30.8289
min       76.0000
25%      130.5000
50%      142.0000
75%      170.7500
max      191.0000
Name: FL, dtype: float64
--------------------


count     63.000000
mean     171.976190
std       43.294046
min        1.500000
25%      157.000000
50%      173.000000
75%      206.000000
max      249.000000
Name: TL, dtype: float64
--------------------


count                                                     4
unique                                                    3
top       Around 220 as animal not actually measured eit...
freq                                                      2
Name: TL_Flag, dtype: object
--------------------


count      3.000000
mean     203.333333
std       10.692677
min      194.000000
25%      197.500000
50%      201.000000
75%      208.000000
max      215.000000
Name: STL, dtype: float64
--------------------


count     6.000000
mean     26.666667
std       7.447595
min      19.000000
25%      20.750000
50%      25.000000
75%      32.250000
max      37.000000
Name: Mass__paren_kg_paren_, dtype: float64
--------------------


count       15
unique       1
top       Yale
freq        15
Name: Run_LCn_M, dtype: object
--------------------


count    19.000000
mean     14.227368
std       1.470487
min      11.250000
25%      13.760000
50%      14.130000
75%      14.885000
max      17.660000
Name: M__percent_N, dtype: float64
--------------------


count    19.000000
mean     44.211579
std       3.198193
min      37.740000
25%      42.190000
50%      43.800000
75%      46.240000
max      49.550000
Name: M__percent_C, dtype: float64
--------------------


count    19.000000
mean     12.808947
std       0.895004
min      11.160000
25%      12.180000
50%      12.780000
75%      13.315000
max      14.890000
Name: Muscle_Delta15N, dtype: float64
--------------------


count    19.000000
mean    -18.405789
std       2.008867
min     -21.990000
25%     -19.835000
50%     -17.990000
75%     -17.295000
max     -14.520000
Name: Muscle_Delta13C_, dtype: float64
--------------------


count       16
unique       1
top       Yale
freq        16
Name: Run_LCn_WB, dtype: object
--------------------


count    16.000000
mean     15.675625
std       0.826688
min      14.680000
25%      15.232500
50%      15.575000
75%      15.850000
max      18.340000
Name: WB__percent_N, dtype: float64
--------------------


count    16.000000
mean     42.716250
std       2.544015
min      39.890000
25%      41.292500
50%      42.145000
75%      42.900000
max      50.510000
Name: WB__percent_C, dtype: float64
--------------------


count    16.000000
mean     11.944375
std       0.608835
min      10.790000
25%      11.650000
50%      11.835000
75%      12.332500
max      13.090000
Name: Whole_Blood_Delta15N, dtype: float64
--------------------


count    16.00000
mean    -18.85750
std       2.07133
min     -22.93000
25%     -19.83250
50%     -19.25500
75%     -18.04750
max     -14.64000
Name: Whole_Blood_Delta13C, dtype: float64
--------------------


count       16
unique       1
top       Yale
freq        16

Name: Run_LCn_Plasma, dtype: object
--------------------


count    16.000000
mean     16.193750
std       0.640259
min      15.230000
25%      15.805000
50%      16.260000
75%      16.702500
max      17.280000
Name: Plasma__percent_N, dtype: float64
--------------------


count    16.000000
mean     31.713125
std       1.130125
min      29.650000
25%      31.105000
50%      31.660000
75%      32.000000
max      34.000000
Name: Plasma__percent_C, dtype: float64
--------------------


count    16.000000
mean     11.696250
std       0.707143
min      10.470000
25%      11.325000
50%      11.685000
75%      12.040000
max      13.370000
Name: Plasma_Delta15N, dtype: float64
--------------------


count    16.000000
mean    -18.335000
std       1.774358
min     -22.820000
25%     -19.007500
50%     -18.470000
75%     -17.822500
max     -14.890000
Name: Plasma_Delta13C, dtype: float64
--------------------


count        2
unique       1
top       Yale
freq         2
Name: Run_LCn_RBC, dtype: object
--------------------


count     2.000000
mean     13.925000
std       0.049497
min      13.890000
25%      13.907500
50%      13.925000
75%      13.942500
max      13.960000
Name: RBC__percent_N, dtype: float64
--------------------


count     2.000000
mean     44.715000
std       2.425376
min      43.000000
25%      43.857500
50%      44.715000
75%      45.572500
max      46.430000
Name: RBC___percent_C, dtype: float64
--------------------


count     2.000000
mean     12.780000
std       0.212132
min      12.630000
25%      12.705000
50%      12.780000
75%      12.855000
max      12.930000
Name: Red_Blood_Cells_Delta15N, dtype: float64
--------------------


count     2.000000
mean    -15.995000
std       1.605132
min     -17.130000
25%     -16.562500
50%     -15.995000
75%     -15.427500
max     -14.860000
Name: Red_Blood_Cells_Delta13C, dtype: float64
--------------------


count        5
unique       1
top       Yale
freq         5
Name: Run_LCn_Fin, dtype: object
--------------------


count     5.000000
mean     12.812000
std       2.408728
min       9.680000
25%      11.290000
50%      12.760000
75%      15.110000
max      15.220000
Name: F__percent_N, dtype: float64
--------------------


count     5.000000
mean     31.922000
std       5.693353
min      24.650000
25%      29.100000
50%      30.500000
75%      37.190000
max      38.170000
Name: F__percent_C, dtype: float64
--------------------


count     5.000000
mean     11.532000
std       0.258205
min      11.110000
25%      11.540000
50%      11.540000
75%      11.680000
max      11.790000
Name: Fin_Delta15N, dtype: float64
--------------------


count     5.000000
mean    -13.178000
std       2.084783
min     -15.990000
25%     -14.200000
50%     -13.040000
75%     -12.220000
max     -10.440000
Name: Fin_Delta13C, dtype: float64
--------------------


count                                                     2
unique                                                    2
top       Preg-9999.00nt; head and liver kept; 4 of 5 pu...
freq                                                      1
Name: Notes, dtype: object
--------------------